body{
    margin: 0px 0px 0px 0px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.content{
    margin-bottom:0px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    width: 100%;
    background-color: WhiteSmoke;
    }
nav{
   background-color: rgba(68,64,64,0.7);
}
a{
      display: inline-block;
      /*float: left;*/
      border: none;
      color: white;
      padding: 12px 26px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      font-family:arial;
      -webkit-transition-property: background, color; /* Safari */
      -webkit-transition-duration: 0.5s; /* Safari */
      transition-property: background, color;
      transition-duration: 0.6s;
	}

a:hover {
        background: white;
        color: #7ac5d6;
        cursor: pointer;
    }
.selected{
        background-color: white;
        border: 2px solid #3e8aa5;
        color: #1c304a;
        padding: 12px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        font-family:arial;
    }
.div a{
	margin-left:auto;
    margin-right:auto;
}
 h1,h2{
	color:#60b0c7;
}
h3{
 color:#5b7a87;
}
h4,h5,h6{
 color:#819ea5;
}
.logo_font{
    font-family:'Quattrocento Sans', sans-serif;
    text-align:center;
    font-size:50px;
    text-shadow: 3px 0 0 #b0ced1;
}
.center{
	text-align:center;
}
.navbar-fixed{
  overflow: hidden;
  top: 0;
  width: 100%;
  margin-left:0px;
  margin-right:0px;
  padding: 30px 30px 30px 30px;
}

